<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login node</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1> <span class="fa fa-lock"></span>  Registrate o inicia sesion</h1>
          <a href="/login" class="btn btn-light"> <span class="fa fa-user"></span> Inicia sesion</a>
          <a href="/signup" class="btn btn-light"> <span class="fa fa-user"></span> Registrate</a>
        </div>
      </div>
    </div>
  </body>
</html>
